<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="pld-sample">
  <template>
    <style>
      :host {
        display: block;
      }
      .markdown-html pre {
        border-left: 5px solid #ccc;
        padding-left: 12px;
      }
    </style>

    <iron-ajax auto
               url="[[descriptionUrl]]"
               handle-as="text"
               last-response="{{description}}"></iron-ajax>

    <h2>[[heading]]</h2>
    <marked-element markdown="[[description]]">
      <div class="markdown-html"></div>
    </marked-element>

    <h3 hidden$="[[!_showDemo]]">Demo</h3>
    <slot id="demo" name="demo"></slot>

  </template>
  <script>
    Polymer({
      is: 'pld-sample',
      properties: {
        heading: String,
        description: String,
        descriptionPath: String,
        descriptionUrl: {
          type: String,
          computed: '_computeDescriptionUrl(descriptionPath)'
        },
        _showDemo: {
          type: Boolean,
          value: false
        }
      },
      ready: function() {
        this._showDemo = Polymer.dom(this.$.demo).getDistributedNodes().length > 0;
      },
      _computeDescriptionUrl: function(descriptionPath) {
        return 'src/' + descriptionPath + '.md';
      }
    });
  </script>
</dom-module>
